<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="w-100">
                <hr>
                <h3 class="logo-font text-center">
                    Contact Us
                </h3>
                <hr class="head-divider">
            </div>
        </div>
        <div class="row">
            <div class="w-100 mt-3">
                <div class="heading-font">
                    Please contact us on <strong>abc@def.com</strong> for any query quoting order number.
                </div>
            </div>
        </div>
        <hr class="head-divider">
    </div>
    <hr class="mb-2">
{% endblock %}