<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment.css' %}">
{% endblock %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col bg-blue text-white text-center">
        <h4 class="delivery-font my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
    </div>
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Payment</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-blue text-center">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Add-on(s)</th>
                                    <th scope="col">Product Total</th>
                                </tr>
                            </thead>
                            {% for item in items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.logo }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        <p class="my-0 small text-muted">{{ item.product.category.friendly_name }}</p>
                                    </td>
                                    <td class="py-3 text-center">
                                        <p class="my-0">£{{ item.product.price }}.00</p>
                                    </td>
                                    <td class="py-3 text-center">
                                        <p class="my-0">£{{ item.pro_total }}.00</p>
                                        <a href="{% url 'edit_purchase' item.item_id %}" class="btn-sm btn-black rounded-0"><small>Edit</small></a>|
                                        <a href="{% url 'remove_purchase' item.item_id %}" id="remove_{{item.item_id}}" class="btn-sm btn-black rounded-0"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3 text-center">
                                        <p class="my-0">£{{ item.quantity }}.00</p>
                                    </td>
                                </tr>
                            {% endfor %}         
                            <tr>
                                
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'design' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'payment' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                {% else %}
                    <p class="lead mb-5">Do you like to PAY????? <i class="far fa-surprise"></i> !!!!!</p>
                    <a href="{% url 'design' %}" class="btn btn-outline-black rounded-1 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </div>
    <div class="col-12 col-lg-6 m-auto">
        <p class="text-muted">Please fill out the form below to complete your order</p>
        <form action="{% url 'payment' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                <div class="form-check form-check-inline float-right mr-0">
					{% if user.is_authenticated %}
						<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>							                        
                    {% else %}
						<label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information                                
                        </label>
					{% endif %}
				</div>
            </fieldset>
            <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                <!-- A Stripe card element will go here -->                    
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            </fieldset>

            <div class="submit-button text-right mt-5 mb-2">                    
				<a href="" class="btn btn-outline-black rounded-0">
					<span class="icon">
						<i class="fas fa-chevron-left"></i>
                    </span>
					<span class="font-weight-bold">Adjust Bag</span>
				</a>
				<button id="submit-button" class="btn btn-black rounded-0">
					<span class="font-weight-bold">Complete Order</span>
					<span class="icon">
						<i class="fas fa-lock"></i>
					</span>
				</button>
				<p class="small text-danger my-0">
					<span class="icon">
						<i class="fas fa-exclamation-circle"></i>
					</span>
					<span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
				</p>
			</div>
        </form>
    </div>                  
{% endblock %}
