<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                 <div class="card image-container my-5">
                    {% if product.logo %}
                        <a href="{{ product.logo }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.logo }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                 </div>   
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-detail-container mb-5 mt-md-5">
                    {% if product.edge and product.cardtype %}
                        <p class="mt-1 mb-0">
                            <i class="fas fa-cheese"></i> : {{ product.edge.friendly_name }} ||| <i class="fas fa-address-card"></i> : {{ product.cardtype.friendly_name }}
                        </p>
                    {% endif %}
                    {% if product.paper and product.make %}
                        <p class="mt-1 mb-0">
                            <i class="fas fa-file-powerpoint"></i> : {{ product.paper.friendly_name }} ||| <i class="fab fa-magento"></i> : {{ product.make.friendly_name }}
                        </p>
                    {% endif %}
                    <hr>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    <hr>
                    <p class="mb-0">{{ product.info }}</p>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}
